{
  "version": "3.0",
  "vg_name": "fedora_server",
  "paths": {
    "hdd_servicios": "/mnt/sda1/servicios",
    "hdd_compartido": "/mnt/sda1/compartido",
    "hdd_sistema": "/mnt/sda1/sistema",
    "nvme_fast": "/mnt/nvme_fast"
  },
  "default_owner": "vsynlo",
  "default_group": "vsynlo",
  "meta_file": ".vguard_meta",
  "managed_volumes": {
    "ocis_data": {
      "tier": "contenedor_hdd",
      "path": "/mnt/sda1/servicios/ocis_data",
      "policy": {
        "owner": "1000",
        "group": "1000",
        "mode_dir": "0775",
        "mode_file": "0664",
        "selinux_context": "container_file_t",
        "allow_subfolder_overrides": true
      },
      "subfolder_policies": {}
    },
    "mysql": {
      "tier": "lvm_nvme_fast",
      "path": "/mnt/nvme_fast/mysql",
      "policy": {
        "owner": "27",
        "group": "27",
        "mode_dir": "0700",
        "mode_file": "0600",
        "selinux_context": "container_file_t",
        "allow_subfolder_overrides": false
      },
      "subfolder_policies": {}
    }
  },
  "language": "en"
}